<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <h1>welcome to Nagano_cake !!</h1>

        <div class="btn-wrapper col-10 mx-auto">
      　　<div class="row">
      　　<%= link_to "新規登録はこちらから",new_customer_registration_path,class: "btn btn-success btn-sm btn-block" %>
      　　</div>
  　　    </div>
    </div>
  </div>
</div>